@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme:dark) {
    body {
        color:white;
        --body-bg-color: #131313;
        background-color: var(--body-bg-color);
    }

    :root {
        color-scheme: dark;
    }
}

.bg-body {
    background-color: var(--body-bg-color, white);
}

html {
    scroll-behavior: smooth;
    font-family: Roboto;
    font-weight: 300;
    font-size: larger;
}

@layer utilities {
    .my-border {
        @apply border border-gray-500 dark:border-gray-400;
    }
}